body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.welcome {
  background: lightblue;
}
.start-chatting {
  background: coral;
}
